.panel.panel-danger
  .panel-heading.center
    %strong Top 5 Ports
  .panel-body
    %table.table
      %thead
        %th Port
        %th.center Count
      %tbody
        / helper get_top_ten_critical
        - top_ten = get_top_ports_critical(obj)
        - top_ten.each do |k,v|
          %tr
            %td= k
            %td.center= v
    /%span.badge.pull-right
    /  more
