.panel.panel-success
  .panel-heading
    %h3
      %span.glyphicon.glyphicon-option-vertical
      - if (controller.action_name != 'edit')
        Upload Source
      - else
        Update Source
  .panel-body
    = render 'form'
