.panel.panel-info
  .panel-heading
    %h4
      %span.glyphicon.glyphicon-upload
      - if (controller.action_name != 'edit')
        Upload Source
      - else
        Update Source
  .panel-body
    = render 'form'
