@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a:hover {
  text-decoration: none;
}

.circle_green {
  background: green;
  color: white;
}

.circle_yellow {
  background: yellow;
  color: black;
}

.circle_red {
  background: red;
  color: white;
}

.circle {
	// background: green;
	border-radius:50%;
	// color: white;
	display:table;
	height: 120px;
	font-weight: bold;
	font-size: 4.2em;
	width: auto;
	margin:0 auto;
}
.circle span {
	display:table-cell;
	vertical-align:middle;
	height:120px;
	width:120px;
	text-align:center;
	padding: 0 15px;
}

.valign {
  vertical-align:middle;
}

.tab-content {
  // color : white;
  // background: #F4F4F4;
  padding: 5px 15px;
}

.bg-grey {
  background: #F4F4F4;
}
