@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #0e0e0e;
  // color: #333;
  // font-family: verdana, arial, helvetica, sans-serif;
  // font-size: $font_size;
  // line-height: $line-height;
  // font-size: 1.1em;
  margin: 10px;
}

li {
  font-size: 1.0em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:black;
  background-color:#efefef;
}

.center {
  text-align: center;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a:hover {
  text-decoration: none;
}

.circle_green {
  background: green;
  color: white;
}

.circle_yellow {
  background: yellow;
  color: black;
}

.circle_red {
  background: red;
  color: white;
}

.circle {
	// background: green;
	border-radius:50%;
	// color: white;
	display:table;
	height: 120px;
	font-weight: bold;
	font-size: 3.2em;
	width: auto;
	margin:0 auto;
}
.circle span {
	display:table-cell;
	vertical-align:middle;
	height:120px;
	width:120px;
	text-align:center;
	padding: 0 15px;
}

.tab-content {
  // color : white;
  // background: #F4F4F4;
  padding: 5px 15px;
}

.navbar {
  margin-bottom: 0px;
  border: 0;
}

.pagination {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
}

table {
  margin-bottom: 0px;
  border: 0;
}

.glyphicon {
  margin-right: 5px;
}

.btn {
  margin-right: 5px;
}

.grey-bgcolor {
  background-color: #d2d2d2;
}

.font-small {
  font-size: 0.80em;
}
