= form_tag search_report_path(params[:id]),
  id: 'search_host_form',
  method: :get, action: :search,
  class: "navbar-form navbar-right",
  role: "search", remote: true do
  .input-group
    = text_field_tag :search, "",
      class: "form-control",
      placeholder: "e.g. 172.16"
    .input-group-btn
      = button_tag 'Search', class: "btn btn-default", type: "submit" do
        %span.glyphicon.glyphicon-search{aria_hidden: true}
        
#search_box_results
